body {
  font-family: Caladea;
  font-size: large;
  background-color: #1c2541;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: double underline;
}