.row {
    margin: 0;
    display: flex;
}

.column {
    width: 50%;
    animation: column-appears 0.7s forwards;
}

@keyframes column-appears {
    from {
        opacity: 0;
        transform: translateY(1rem);
      }  
      to {
        opacity: 1;
        transform: translateY(0);
      }
}